name: Deploy Customer Service

on:
  push:
    branches: [ "main" ]

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::TU_ACCOUNT_ID:role/GitHubActionsDeployLambda
          aws-region: us-east-1

      - name: Who am I in AWS?
        run: aws sts get-caller-identity
